@charset "UTF-8";

/*Espaco para estilos do site geral*/
#total {
height: 960px;
margin: 1px;
}

/*
.topHeader {
background: #7097a8;
padding: 0px;
margin: 0px;
}


.topHeader h1 {
font-size: 40px;
text-align: center;
position: relative;
top: 100px;
text-transform:uppercase;
font-family: 'Bowlby One SC', cursive;
}


.logotopo {
width: 150px;
position: absolute;
width: 20%;
} 

.logotopo {
animation-name: animacaoBolada;
animation-duration: 5s;
animation-timing-function: ease;
animation-delay: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-play-state: running;
}


*/


/*Banner e parte de cima*/

.banner {
position: static;
width: 100%;
margin-bottom: 0px;
}

.headerNav {
width: 100%;
background: rgb(117, 86, 54);    
padding: 5px;
border: 0px;
margin-bottom: 0px;
margin-top: -3px;
}

.headerNav ul{
float: right;
}

.headerNav ul li{
display: inline;
box-align:center;
}

.headerNav ul li a {
text-decoration: none;
text-align:center;
text-transform: uppercase;
border: 0px solid #fff;
padding: 10px 10px;
color: rgb(255, 255, 255);
background:none;
} 

.headerNav ul li:last-child a {
border:1px;
}

.headerNav  a:hover {
color: none;
}



/*dicas do site*/

.dicatotal {
height: 100%;
margin: auto;
padding: 1px;
overflow: hidden;
}

.dicas {
border: px solid black;
width: 100%;
height: 160px;
padding: 20px;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
font-family: 'Arvo', serif;
background: rgb(233,233,194);
box-shadow: 1px 2px 6px rgba(0, 0, 0, .5);
}


.topodica {
margin-bottom: 5px;
text-align: center;
padding: 1px;
}


.dicas h2 {
height: 15%;
}

.texto_dicas {
overflow: hidden;
line-height: 90%;
height: 80%;
max-height: 90%;
text-overflow: ellipsis;
}

.leia_mais{
position: relative;
bottom: auto;
text-align: right;
padding: 0px;
margin-bottom: -1px;
}


.leia_mais a{
color: chocolate;   
}

.leia_mais a:link {
color:none;
}
.leia_mais a:visited {
color:none;
}
.leia_mais a:hover {
color:none;
}
.leia_mais a:active {
color:none;
}


/*corpo do site*/

.totArticle {
margin: 10px;
border: none;
padding: 10px;
}

.totArticle h2 {
margin: 15px 0px;
font-size: 50px;
color: chocolate;
text-shadow: 3px 2px rgba(255, 145, 0, 0.411);
}

.totArticle p {
margin: 15px;
padding: 10px;
text-align: justify;
}

.totArticle h3 {
font-size: 30px;
color: #7097a8;
}


/*corpo do site/index*/


.totArticle

.eu_pug {
    max-width: 100%;
    margin-top: 1px;
    width: 800px;
    height: 800px;
    top: 10px;
    padding: 30px;
    content: auto;
    
}


.eu_pug p {
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    color: brown;
    text-transform: uppercase;
}


.imagem1 {
    z-index: -1;
    height: 100px;
    top: 10px;
    max-width: 100%;
    width: auto;
    margin-left: 30px;
}


path { 
    transition: .6s fill;
    fill: rgb(255, 255, 255);
    
    
}

text { 
    opacity: 0;
    font-size: 28px; 
    background: bisque;
}

path:hover {
    fill: #CB8A5F;
    cursor: pointer;
    stroke:  rgb(66, 48, 35);
    
}

path:hover + text { opacity: 1; }

svg text { 
    transition: .3s; 
    font: 20px arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 4px 3px rgb(226, 184, 128);
    padding: 60px;
    color: blueviolet;
   
}



/*teste

.eu_pug {
    background-color: burlywood;
    width: auto;
    max-width: 100%;
    content: 100%;
    background-image: unset;
}

.eu_pug map {
        width: 800px;
        height: 800px;
        max-width: 800px;
        max-height: 800px;
        justify-items: auto;
    
}

.eu_pug img {
    max-width: 100%;

}
.eu_pug svg {
    z-index: 3;
    position: absolute;
    max-width: 100%;
    top:auto; left:0px;
    float: right;

}
 */


/*corpo do site/história*/

.pugdir img{
    width: 180px;
    height:180px;
    float: left;

}

.pugesq img{
    width: 180px;
    height:180px;
    float: right;
 
}

.pugesq p{
  text-align: justify;
  border: 2px solid none;
  padding: auto;
  text-indent: 50px;
  letter-spacing: 1px;
  line-height: 1.8;
} 

.pugdir p{
    text-align: justify;
    border: 2px solid none;
    padding: auto;
    text-indent: 50px;
    letter-spacing: 1px;
    line-height: 1.8;
} 


/*corpo do site/caracteristicas*/


/*corpo do site/saúde*/


/*corpo do site/comportamento*/






/*rodapé do site*/

.botFooter {
background: #7097a8;
margin: 0;
width: 100%;
height: 100%;
}

.text_footer {
margin: 20px;
padding: 10px;
line-height: auto;
width: 50%;
height: 400px;
float: left;
}

.text_footer h3{
text-transform: uppercase;
padding: 30px;

}

.text_footer p{
line-height: 35px;
}

.formulario_total {
margin-top: 50px;
}


.formulario {
margin: 10px;
padding-top: 20px;
padding: 10px;
width: 50%;
height: 100%;
float: right;
}




#area {
margin: 0px;
padding: 1px; 
width: 600px;
height: 300px;
}

.campo_nome {
width: 100%;
height: 25px;
}

.campo_email {
width: 100%;
height: 25px;

}

.msg {
width: 100%;
}

.address {   
padding:10px;
margin-bottom: 20px;
width: 100%;
height: 40px;
background: teal;
position: static;
}

.address {
    text-size-adjust: auto;
    text-align: justify;
    color: beige;
    
}

