@charset "UTF-8";

/*Espaco para estilos do site geral*/
#total{
height: 0;
margin: 0;
background-color: rgb(214, 212, 212);
}


/*Banner e parte de cima*/


.topHeader{
padding: 0;
background: #c95927;
width: 100%;
max-height: 100%;
margin: 0;
}

.banner {
position: static;
width: 100%;
margin-bottom: 1px;
max-height: 400px;
min-width: 100%;
}
  
/*Menu*/
.headerNav {
width: 100%;
height: 50px;
background: #c95927;   
margin-top: 0px;

}

.headerNav ul{
list-style: none;
position: relative;
float: right;
list-style: none;
}

.headerNav ul li{
width: 155px;
height: 100%;
float: left;
margin-right: 20px;
}

.headerNav a{
background-color:#c95927;
padding: 15px;
display: block;
text-decoration: none;
text-transform: uppercase;
text-align: center;
color:#f68d3d;
}

.headerNav  a:hover{
color: #CB8A5F;
background-color:#c95927;
}

.headerNav ul ul {
position: absolute;
visibility: hidden;
}

.headerNav ul ul li {
float: none;
border-bottom: solid 1px rgb(255, 255, 255);
}


label[for="bt_menu"]{
padding: 5px;
background-color: #c95927;
color: #CB8A5F;
text-align: center;
font-size: 30px;
cursor: pointer;
width: 50px;
height: 50px;
display: none;
position: relative;
}

   
#bt_menu{
display: none;
}

/*corpo do site*/

.totArticle {
margin: 2px;
border: none;
padding: 2px;
width: 100%;
float: left;
}

.totArticle h2 {
margin: 15px 0px;
font-size: 50px;
color: chocolate;
text-shadow: 3px 2px rgba(255, 145, 0, 0.411);
}

.totArticle p {
margin: 15px;
padding: 10px;
text-align: justify;
}

.totArticle h3 {
font-size: 30px;
color: #7097a8;
}


/*corpo do site/index*/

.eu_pug{
max-width: 100%;
margin-top: 1px;
margin-left: 100px;
width: 800px;
height: 800px;
top: 10px;
padding: 30px;
content: auto;
align-items: center;
}

.eu_pug p {
width: 100%;
height: 100%;
top: 10px;
left: 10px;
margin-left: 10px;
margin-right: 10px;
color: brown;
text-transform: uppercase;
}

.imagem1 {
height: 100px;
top: 10px;
max-width: 100%;
width: auto;
margin-left: 30px;
width: 100%;
height: 100%;
top: 10px;
left: 10px;
margin-left: 10px;
margin-right: 10px;
color: brown;
text-transform: uppercase;
}


path { 
transition: .6s fill;
fill: rgb(255, 255, 255);


}

text { 
opacity: 0;
font-size: 28px; 
background: bisque;
}

path:hover {
fill: #CB8A5F;
cursor: pointer;
stroke:  rgb(66, 48, 35);

}

path:hover + text { opacity: 1; }

svg text { 
transition: .3s; 
font: 20px arial, sans-serif;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 3px;
text-shadow: 4px 3px rgb(226, 184, 128);
padding: 60px;
color: blueviolet;

}
/*corpo do site/história*/

.pugdir img{
width: 260px;
height:260px;
float: left;
}

.pugesq img{
width: 260px;
height:260px;
float: right;
}

.pugesq p{
text-align: justify;
border: 2px solid none;
padding: auto;
text-indent: 50px;
letter-spacing: 1px;
line-height: 1.8;
} 

.pugdir p{
text-align: justify;
border: 2px solid none;
padding: auto;
text-indent: 50px;
letter-spacing: 1px;
line-height: 1.8;
} 
/*corpo do site/caracteristicas*/


/*corpo do site/saúde*/
.saude_saude {
text-align: justify;
border: 0px solid none;
margin: 30px;
padding: auto;
text-indent: 50px;
letter-spacing: 1px;
line-height: 1.8;
}



/*corpo do site/comportamento*/

   
/*dicas do site*/

.dicatotal {
height: 100%;
margin: auto;
padding: 1px;
overflow: hidden;
}

.dicas {
border: 0px solid black;
width: 100%;
height: 160px;
padding: 20px;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
font-family: 'Arvo', serif;
background: #fec546;
box-shadow: 1px 2px 6px #c95927;
}

.dicas h2 {
height: 15%;
color: #c95927;
}

.texto_dicas {
overflow: hidden;
line-height: 90%;
height: 80%;
max-height: 90%;
text-overflow: ellipsis;
color: #c95927;
}

.leia_mais{
position: relative;
bottom: auto;
text-align: right;
padding: 0px;
margin-bottom: -1px;
}

.leia_mais a{
color: #c95927;   
}

.leia_mais a:link {
color:none;
}
.leia_mais a:visited {
color:none;
}
.leia_mais a:hover {
color:none;
}
.leia_mais a:active {
color:none;
}


/*rodapé do site*/

.botFooter {
background: #2a94d1;
margin: 0;

}
/*
width: 100%;
height: 100%;
*/


.text_footer {
margin: 20px;
padding: 10px;
line-height: auto;
width: 49%;
max-width: 50%;
float: left;
position: relative;
}

.text_footer h3{
text-transform: uppercase;
padding: 30px;
}

.text_footer p{
line-height: 35px;
}

/* Campo Formulário*/



.formulario_total {
margin-bottom: 10px;
margin-top: 50px;
width: 100%;
float: none;
}

fieldset {
    border:0;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 2em;
    
}

.campo label {
margin-bottom: 0.2em;
color: rgb(102, 102, 102);
display: block;
}

fieldset .campo .formulario {
    float: right;
    margin-right: 10px;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    width: 25em;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.botao {
    font-size: 1.5em;
    background: #13214a;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
    background: #223f84;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select, label.checkbox {
    cursor: pointer;
}



/*fim formulário*/

.address {   
padding:10px;
margin-bottom: 20px;
width: 100%;
height: 40px;
background: #13214a;
position: static;
}

.address {
text-size-adjust: auto;
text-align: justify;
color: beige;

}





/* @@@@@@@@@@@@@@@ Midia do site @@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media screen and (max-width: 768px) {
#total{
height: 0;
margin: 0;
width: 100%;
background-color: rgb(214, 212, 212);
}

/*TOPO*/

.topHeader {
background: #c95927;
height: 2px;
width: 100%;
padding: 0;
margin: 0;
}

.banner {
margin: 0;
padding: 0;
height: 0;
width: 0;
float: left;
position: absolute;

}

/*MENU*/
label[for="bt_menu"] {
display: block;
position: fixed;
float: left;
width: 50px;
height: 50px;
}

.headerNav  a:hover{
color: #CB8A5F;
background-color:#c95927;
}

#bt_menu:checked ~ .headerNav {
margin-left: 0;
}

.headerNav {
margin-top: 0px;
margin-left: -100%;
transition: all .8s;
position: fixed;
}

.headerNav ul li {
width: 100%;
float: none;
} 

.headerNav ul{
width: 100%;
}

/*CORPO*/

.article_resp{
float: left;
width: 100%;
}

.article_resp h2{
margin-top: 50px;
margin-left: 10px;
font-size: 30px;
max-width: 400px;
text-align: justify;
color: chocolate;
text-shadow: 3px 2px rgba(255, 145, 0, 0.411);
}

.article_resp p {
top: 10px;
left: 10px;
width: 90%;
margin-left: 20px;
}
    
svg text { 
font-size: 0; 
}

.eu_pug {
max-width: 300px;
margin-top: 1px;
margin-left: 35px;
width: 90%;
height: 100%;
top: 10px;
padding: 0;
content: auto;
align-items:center;
}

.imagem1 {
top: 10px;
margin-left: 1px;
margin-right: 0px;
max-width: 400px;
width: 95%;
height: 100%;
color: brown;
text-transform: uppercase;
position: static;
}
path { 
transition: .6s fill;
fill: rgb(255, 255, 255);
}

text { 
opacity: 0;
font-size: 28px; 
background: bisque;
}

path:hover {
fill: #CB8A5F;
cursor: pointer;
stroke:  rgb(66, 48, 35);
}


path:hover + text { opacity: 1; }

svg text { 
transition: .3s; 
font: 20px arial, sans-serif;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 3px;
text-shadow: 4px 3px rgb(226, 184, 128);
padding: 60px;
color: blueviolet;
}

.saude_saude h3{
text-align: center;
font-size: 20px;
width: 95%;
}

.saude_saude p{
width: 100%;
margin-left: 0px;
}

.saude_saude table{
width: 100%;
}

.saude_saude table tr{
text-align: right;
text-justify: distribute;
width:120px;
border:1px;
margin-left: 0;
}

.saude_saude table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #c95927;
color: white;
margin-left: 1px;
}

.saude_saude table td{
text-align: right;
width:100px;
border-bottom: 1px solid #c95927;
}


/*DICAS*/

.dicatotal {
height: 100%;
margin: auto;
padding: 1px;
float: right;
}    

.dicas {
border: 0px solid black;
width: 100%;
height: 120px;
padding: 20px;
float: right;
}

/*RODAPÉ*/

.botFooter{
background: #2a94d1;
margin: 0;
}

.text_footer{
margin: 0px;
line-height: auto;
width: 100%;
max-width: 765px;
position: static;
margin-bottom: 50px;
}

.text_footer h3{
text-transform: uppercase;
padding: 30px;
}

.text_footer p{
line-height: 35px;
padding: 30px;
margin-left: 20px;
margin-right: 20px;
}


.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    width: 95%;
    margin-left: 10px;
}

.grupo p{
    margin-left: 10px;
}

.grupo legend{
margin-left: 10px;
margin-bottom: 20px;
}

.botao{
margin-left: 160px;    
}

.address{   
padding: 0px;
width: 100%;
height: 100px;
background:#223f84;

}


.address p{
color: beige;
margin-right: 35px;
text-align: justify;
height: 100%;
width: 100%;
}

}