@charset "UTF-8";

/*Espaco para estilos do site geral*/
#total{
height: 0;
margin: 0;
background-color: rgb(214, 212, 212);
}


/*Banner e parte de cima*/

.topHeader {
float: right;
text-decoration: none;
text-transform:uppercase;
font-size: 20px;
padding: 10px 10px;
background: #c95927;
}

.topHeader {
height: 100%;
width: 100%;
padding: 0;
margin: 0;
}

.banner{
position: relative;
width: 100%;
height: 100%;
margin-bottom: 0px;
max-height: 425px;
}


/*Menu*/
/*testando*/

.headerNav {
width: 100%;
height: 55px;
background: #c95927;    
padding: 5px;
}

.headerNav ul{
float: right;
list-style: none;
position: relative;
}

.headerNav ul li{
width: 160px;
float: left;    
}

.headerNav a{
padding: 15px;
height: 30px;
display: block;
text-decoration: none;
text-transform: uppercase;
text-align: center;
background-color:#c95927;
color:#CB8A5F;
}

.headerNav  a:hover{
color: #CB8A5F;
background-color:#c95927;
visibility: visible;
}

.headerNav ul ul li {
float: none;
border-bottom: solid 1px #ccc;
}

.headerNav ul li:last-child a{
border:1px;
}



label [for=”bt_menu”]{
padding: 5px;
background-color: #c95927;
color: #CB8A5F;
text-align: center;
font-size: 30px;
cursor: pointer;
width: 10px;
height: 10px;
}

#bt_menu{
display: none;
}

label[for=”bt_menu”]{
display: none;
}
    

/*
.headerNav {
width: 100%;
height: 50px;
background: #c95927;    
padding: 5px;
border: 0px;
margin-bottom: 0px;
margin-top: -3px;
}

.headerNav ul{
float: right;
}

.headerNav ul li{
display: inline;
box-align:center;
}

.headerNav ul li a {
text-decoration: none;
text-align:center;
text-transform: uppercase;
border: 0px solid #fff;
padding: 10px 10px;
color: #fec546;
background:none;
} 



.headerNav  a:hover {
color: none;
}
*/
/*dicas do site*/

.dicatotal {
height: 100%;
margin: auto;
padding: 1px;
overflow: hidden;
}

.dicas {
border: 0px solid black;
width: 100%;
height: 160px;
padding: 20px;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
font-family: 'Arvo', serif;
background: #fec546;
box-shadow: 1px 2px 6px #c95927;
}


.topodica {
margin-bottom: 5px;
text-align: center;
padding: 1px;
}


.dicas h2 {
height: 15%;
color: #c95927;
}

.texto_dicas {
overflow: hidden;
line-height: 90%;
height: 80%;
max-height: 90%;
text-overflow: ellipsis;
color: #c95927;
}

.leia_mais{
position: relative;
bottom: auto;
text-align: right;
padding: 0px;
margin-bottom: -1px;
}


.leia_mais a{
color: #c95927;   
}

.leia_mais a:link {
color:none;
}
.leia_mais a:visited {
color:none;
}
.leia_mais a:hover {
color:none;
}
.leia_mais a:active {
color:none;
}


/*corpo do site*/

.totArticle {
margin: 2px;
border: none;
padding: 2px;
}

.totArticle h2 {
margin: 15px 0px;
font-size: 50px;
color: chocolate;
text-shadow: 3px 2px rgba(255, 145, 0, 0.411);
}

.totArticle p {
margin: 15px;
padding: 10px;
text-align: justify;
}

.totArticle h3 {
font-size: 30px;
color: #7097a8;
}


/*corpo do site/index*/


.eu_pug{
max-width: 100%;
margin-top: 1px;
margin-left: 100px;
width: 800px;
height: 800px;
top: 10px;
padding: 30px;
content: auto;
align-items: center;
}


.eu_pug p {
width: 100%;
height: 100%;
top: 10px;
left: 10px;
margin-left: 10px;
margin-right: 10px;
color: brown;
text-transform: uppercase;
}

.imagem1 {
height: 100px;
top: 10px;
max-width: 100%;
width: auto;
margin-left: 30px;
width: 100%;
height: 100%;
top: 10px;
left: 10px;
margin-left: 10px;
margin-right: 10px;
color: brown;
text-transform: uppercase;
}


path { 
transition: .6s fill;
fill: rgb(255, 255, 255);


}

text { 
opacity: 0;
font-size: 28px; 
background: bisque;
}

path:hover {
fill: #CB8A5F;
cursor: pointer;
stroke:  rgb(66, 48, 35);

}

path:hover + text { opacity: 1; }

svg text { 
transition: .3s; 
font: 20px arial, sans-serif;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 3px;
text-shadow: 4px 3px rgb(226, 184, 128);
padding: 60px;
color: blueviolet;

}



/*teste

.eu_pug {
    background-color: burlywood;
    width: auto;
    max-width: 100%;
    content: 100%;
    background-image: unset;
}

.eu_pug map {
        width: 800px;
        height: 800px;
        max-width: 800px;
        max-height: 800px;
        justify-items: auto;
    
}

.eu_pug img {
    max-width: 100%;

}
.eu_pug svg {
    z-index: 3;
    position: absolute;
    max-width: 100%;
    top:auto; left:0px;
    float: right;

}
 */


/*corpo do site/história*/

.pugdir img{
width: 260px;
height:260px;
float: left;

}

.pugesq img{
width: 260px;
height:260px;
float: right;



}

.pugesq p{
text-align: justify;
border: 2px solid none;
padding: auto;
text-indent: 50px;
letter-spacing: 1px;
line-height: 1.8;
} 

.pugdir p{
text-align: justify;
border: 2px solid none;
padding: auto;
text-indent: 50px;
letter-spacing: 1px;
line-height: 1.8;
} 


/*corpo do site/caracteristicas*/


/*corpo do site/saúde*/

.saude_saude {
    text-align: justify;
    border: 0px solid none;
    margin: 30px;
    padding: auto;
    text-indent: 50px;
    letter-spacing: 1px;
    line-height: 1.8;
  
}

/*corpo do site/comportamento*/






/*rodapé do site*/

.botFooter {
background: #2a94d1;
margin: 0;
}
/*
width: 100%;
height: 100%;
*/


.text_footer {
margin: 20px;
padding: 10px;
line-height: auto;
width: 49%;
max-width: 50%;
float: left;
position: relative;
}

.text_footer h3{
text-transform: uppercase;
padding: 30px;
}

.text_footer p{
line-height: 35px;
}

/* Campo Formulário*/



.formulario_total {
margin-bottom: 10px;
margin-top: 50px;
}


/*Formulário*/

fieldset {
    border:0;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: rgb(102, 102, 102);
    display: block;
}

fieldset .campo .formulario {
    float: right;
    margin-right: 10px;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="url"],
.campo input[type="tel"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #FFC;
}

.campo label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}

.botao {
    font-size: 1.5em;
    background: #13214a;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
    background: #223f84;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select, label.checkbox {
    cursor: pointer;
}



/*fim formulário*/

.address {   
padding:10px;
margin-bottom: 20px;
width: 100%;
height: 40px;
background: #13214a;
position: static;
}

.address {
text-size-adjust: auto;
text-align: justify;
color: beige;

}





/* @@@@@@@@@@@@@@@ Midia do site @@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media screen and (max-width: 768px) {

body {
background:inherit;
}

#total {
display: grid;
grid-template-areas: "header" "nav" "article " "aside" "footer" "address" ;
grid-template-rows: auto auto auto auto auto;
grid-auto-columns: 100%;
font-family: 'Prompt', sans-serif;
}


#bt_menu:checked ~ .headerNav{
margin-left: 0;
}

.headerNav {
margin-top: 1px;
margin-left: -100%;
transition: all .4;
}

.headerNav ul{
position: static;
overflow: hidden;
max-height: 30px;
transition: all .4s;
}

.headerNav ul li{
width: 100%;
float: none;
}

label [for="bt_menu"] {
display: block;
}

#bt_menu{
display: none;
}

.banner {
    position: relative;
    width: 0%;
    height: 0%;
    margin-bottom: 0px;
    float:center;
    }

/*








.headerNav { 
grid-area: header;
margin-top: 10px;
width: 100%;
background: #f68d3d;    
padding: 5px;
border: 0px;
margin-bottom: 0px;
}
*/
/*
.topHeader {
float: right;
text-decoration: none;
text-transform:uppercase;
font-size: 20px;
padding: 10px 10px;
background: #c95927;
}

.topHeader {
height: 0px;
width: 100%;
padding: 0;
margin: 0;
}

}




svg text { 
font-size: 0; 
}


.eu_pug {
max-width: 100%;
margin-top: 1px;
margin-left: 100px;
width: 800px;
height: 800px;
top: 10px;
padding: 30px;
content: auto;
align-items: center;

}

*/

.botFooter{
background: #2a94d1;
margin: 0;
}



.text_footer{
margin: 0px;
padding: 10px;
line-height: auto;
width: 490px;
max-width: 490px;
float: left;
position: relative;
margin-bottom: 50px;
}

.text_footer h3{
text-transform: uppercase;
padding: 30px;
}

.text_footer p{
line-height: 35px;
padding: 30px;
}


.formulario_total{
padding: 30px;
}



.address{   
padding: 0px;
height: 120px;
background:#223f84;
}

.address p{
color: beige;
margin: 10px;
}

}